@{
    Layout = Url.BundleContent(BundleActivator.Bundle, "~/Views/Shared/_Layout.cshtml");
    string toolbarItem = ViewBag.ToolbarItem ?? "query,add,edit,delete";
}
@section footer{
    <script type="text/javascript">
        //要绑定的列对象
        var columns = [[]];
        //查询
        var queryRows = function query_dg() {

            var o = queryVaule();

            $("#grid-@ViewBag.GridId").datagrid('options').queryParams.where = JSON.stringify(o);
            //重新加载datagrid
            $("#grid-@ViewBag.GridId").datagrid('reload');
        }
        //添加handler
        var addNewRow = function () {
            //表单清空
            //AddClearValue();
            //显示
            $("#dd_dg").show();
            //以窗体的形式展示
            $("#dd_dg").dialog({
                title: "@ViewBag.Title",//标题
                iconCls: "icon-add",//图标
                width: "@ViewBag.dialogWidth",//窗体的宽度
                height: "@ViewBag.dialogHeight",//窗体的高度
                modal: true, //遮罩层
                //按钮集合
                buttons: [
                    {
                        text: "添加",//添加按钮的文本值
                        iconCls: "icon-ok", //添加按钮的图标
                        handler: function () {
                            //if (!Check()) {
                            //    return false;
                            //}
                            //将数据序列化
                            var parm = $.obear.tools.formToJson($("#fm_dg"));
                            $.post("@ViewBag.AddUrl", { "action": "add", models: '[' + JSON.stringify(parm) + ']' }, function (data) {
                                $.messager.alert('提示', data.Content);
                                //重新加载datagrid
                                $("#grid-@ViewBag.GridId").datagrid('reload');
                                //关闭
                                $("#dd_dg").window('close');
                            });
                        }
                    },
                            {
                                text: "取消",
                                iconCls: "icon-cancel",
                                handler: function () {
                                    $("#dd_dg").window("close");
                                }
                            }
                ]
            });
        }
        //修改handler
        var editOldRow = function edit_dg() {
            //表单清空
            //$("#fm_dg")[0].reset();
            //EditClearValue();
            //选中一行，获取这一行的属性的值
            var selected = $("#grid-@ViewBag.GridId").datagrid('getSelected');
            //判断是否选中
            if (selected != null) {
                //给文本框赋值
                MakeValue(selected);

                $("#dd_dg").show();
                $("#dd_dg").dialog({
                    title: "@ViewBag.Title",
                    iconCls: "icon-edit",
                    modal: true, //遮罩层
                    width: "@ViewBag.dialogWidth",
                    height: "@ViewBag.dialogHeight",
                    buttons: [
                        {
                            text: "编辑",
                            iconCls: "icon-edit",
                            handler: function () {
                                var objs = $.obear.tools.formToJson($("#fm_dg"));
                                $.post("@ViewBag.EditUrl", { "action": "edit", models: '[' + JSON.stringify(objs) + ']' }, function (data) {
                                    $.messager.alert('提示', data.Content);
                                    $("#grid-@ViewBag.GridId").datagrid("reload");
                                    $("#dd_dg").window("close");
                                });
                            }
                        },
                            {
                                text: "取消",
                                iconCls: "icon-cancel",
                                handler: function () {
                                    $("#dd_dg").window('close');
                                }
                            }
                    ]
                });
            } else {
                $.messager.alert('提示', '请选中一行在进行编辑');
            }

        }
        //删除handler
        var deleteOldRow = function delete_dg() {
            var selected = $("#grid-@ViewBag.GridId").datagrid('getSelected');
            if (selected != null) {
                $.messager.confirm('提示', '是否确定要删除？', function (y) {
                    if (y) {
                        var v = "";
                        var checked = $("#grid-@ViewBag.GridId").datagrid('getChecked');
                        var ids = $.Enumerable.From(checked).Select(function (m) { return m.Id; }).ToArray();
                        $.post("@ViewBag.DeleteUrl", { "action": "del", ids: JSON.stringify(ids) }, function (data) {
                            $.messager.alert('提示', data.Content);
                            $("#grid-@ViewBag.GridId").datagrid('reload');
                        });
                    }
                });
            } else {
                $.messager.alert('提示', '您还没有选中一行数，请选中在删除！');
            }
        }
        //上侧操作按钮
        var toolbarData = [
            @if (toolbarItem.Contains("query"))
            {
                @:{ text: "查询", iconCls: "icon-search", handler: queryRows },
                    }
                @if (toolbarItem.Contains("add"))
            {
                @:{ text: "添加", iconCls: "icon-add", handler: addNewRow },
                    }
                @if (toolbarItem.Contains("edit"))
            {
                <text>
                { text: "编辑", iconCls: "icon-edit", handler: editOldRow },
                "-",
                </text>
            }
                @if (toolbarItem.Contains("delete"))
            {
                @:{ text: "删除", iconCls: "icon-cancel", handler: deleteOldRow },
                    }
        ];
    </script>
    @RenderSection("customScript", false)
    <script type="text/javascript">
        $(function () {
            $("#grid-@ViewBag.GridId").datagrid({
                //标题
                title: "@ViewBag.Title",
                //整个Content适应右侧区域
                fit: "@ViewBag.fit" == "true" ? true : false,
                //要绑定的列对象
                columns: columns,
                //自动扩大或缩小列的尺寸以适应表格的宽度并且防止水平滚动
                fitColumns: true,
                //交替显示背景色
                striped: true,
                //请求路径
                url: "@ViewBag.GridDataUrl",
                //当从远程站点加载数据时，显示的提示信息
                loadMsg: "正在加载数据，请稍候",
                //上侧操作按钮
                toolbar: toolbarData,
                //是否显示行号
                rownumbers: true,
                //选中一行的设置
                singleSelect: true,
                //是否显示分页控件
                pagination: true,
                //图标
                iconCls: "icon-save",
                //隐藏按钮
                collapsible: true,
                //冻结列
                frozenColumns: [[{ field: "chk", "checkbox": true }]],
                //传输参数
                //queryParams: { "where": "@ViewBag.Id" },
                loadFilter: loadFilter,
                //onLoadSuccess: function (data) {
                //    $('.editcls').linkbutton({ text: '编辑', plain: true, iconCls: 'icon-edit' });
                //}
            });

            function loadFilter(data) {
                if (data.Rows && data.Total.toString()) {
                    data.rows = data.Rows;
                    data.total = data.Total;
                    delete data.Rows;
                    delete data.Total;
                }
                return data;
            }

            //将查询条件html添加到toolbar后面
            $("#tool").appendTo('.datagrid-toolbar');

            $("#grid-@ViewBag.GridId").datagrid('getPager').pagination({
                beforePageText: "第",
                afterPageText: "页",
                displayMsg: "当前 {from} - {to}条数据   共{total} 条数据",
                pageSize: 10,
                pageList: [5, 10, 15, 20, 30]
            });
        });
    </script>
}
@RenderBody()
<div id="grid-@ViewBag.GridId"></div>