<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>@ViewBag.Title - OBear管理系统</title>

    @Styles.Render(OBear.Plugin.Mvc.BundleUrlHelper.Content(BundleActivator.Bundle, "~/Content/themes/gray/css"),
                   OBear.Plugin.Mvc.BundleUrlHelper.Content(BundleActivator.Bundle, "~/Content/themes/css"),
                   "~/content/obear-icons")
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval", "~/bundles/others", "~/bundles/easyui")
    @RenderSection("header", false)
</head>
<body>
    @RenderBody()
    @RenderSection("footer", false)
</body>
</html>
